/* ---- dd_resume.css ----
   Resume-specific layout overrides.
   Based on nstrayer/datadrivencv dd_resume.css
   Customised: sidebar-width 13rem (user preference)
*/

* {
  --pagedjs-margin-right: 0.2in;
  --pagedjs-margin-left: 0.2in;
  --pagedjs-margin-top: 0.05in;
  --pagedjs-margin-bottom: 0;
}

[data-id="title"] {
  margin: 0 0.5in 0.08in -0.5in;
}

.main-block {
  margin-top: 0;
  margin-left: -0.1in;
}

/* Override sidebar width for resume */
:root {
  --sidebar-width: 12rem !important;
  --sidebar-horizontal-padding: 0.02in;
}

/* More breathing room between main text and green border */
#main {
  padding-right: 0.35in;
}

/* Sidebar: right padding uses #aside (id specificity) to beat pagedown's .aside rule */
#aside {
  padding-right: 0.6rem;
}

.aside {
  height: 100%;
  width: var(--sidebar-width) !important;
  padding-left: 0.75rem;
  padding-top: 1rem;
}

.aside .level2 {
  margin-top: 0.315in;
}

.aside p {
  margin-block-start: 0.75em;
  margin-block-end: 0;
}

[data-id="skills"] ul {
  margin: 0.05in 0 0.05in;
}

[data-id="contact"] ul {
  padding-left: 0 !important;
  margin-top: 0.75rem;
}

[data-id="disclaimer"] p {
  margin-block-start: 0.15em;
  margin-block-end: 0.15em;
}
